body {
    /* font-family: Arial, sans-serif; margin: 20px; */
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-image: url("orderbg.jpg");
    background-attachment: scroll;
}

@font-face {
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#form-container {
    float:left;
    margin: auto;
    padding: 1vw;
    /* width: 75vw; */
    color: #ffffff;
}

.diagonal-div-bg {
    width: 700px;
    max-width: 99vw;
    height: 70px;
    background-color: #1879B0;
    transform: skewX(-20deg);
    margin-left: -38px;
    position: relative;
    overflow: hidden;
    border: 6px double #0E598F;
    margin-bottom: 2px;
}

.diagonal-div {
    /* width: 350px;
    height: 50px; */
    width: 450px;
    height: 30px;
    background-color: #3EE1E0;
    border: 6px solid #2DB5C2;
    /* transform: skewX(-20deg); */
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}

.content {
    transform: skewX(20deg);
    color: #595959;
    text-shadow: #000000 0.6px 0.6px 0.9px;
    padding-left: 20px;
    font-size: 30px;
}

.diagonal-div-bg input {
    transform: skewX(20deg);
    /* color: #545854; */
    /* text-shadow: #000000 0.6px 0.6px 0.9px; */
    width: 300px;
    margin-left: 30px;
    margin-top: 2px;
    /* padding-left: 300px; */
    /* font-size: 30px; */
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.diagonal-div-bg textarea {
    transform: skewX(20deg);
    /* color: #545854; */
    /* text-shadow: #000000 0.6px 0.6px 0.9px; */
    width: 300px;
    margin-left: 55px;
    margin-top: 2px;
    /* padding-left: 300px; */
    /* font-size: 30px; */
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.diagonal-div-head-foot {
    /* width: 350px;
    height: 50px; */
    width: 450px;
    height: 60px;
    background-color: #3EE1E0;
    border: 6px solid #2DB5C2;
    /* transform: skewX(-20deg); */
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}

.content-head-foot {
    transform: skewX(20deg);
    color: #595959;
    text-shadow: #000000 0.6px 0.6px 0.9px;
    padding-left: 20px;
    font-size: 50px;
    padding-top: 3px;
}

.content-head-foot button {
    /* transform: skewX(20deg); */
    color: #595959;
    width: 300px;
    text-shadow: #000000 0.6px 0.6px 0.9px;
    padding-left: 20px;
    font-size: 50px;
    background-color: #D7E0F7;
    border: 3px solid #0C517D;

        font-family: 'pokemon_blackwhiteregular';
        src: url('pokemon-black-white-webfont.woff2') format('woff2'),
        url('pokemon-black-white-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

.content-head-foot button:hover {
    background-color: #e5ebfa;
}


#submitbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submitbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -7px;
  right: -20px;
  transition: 0.5s;
}

#submitbtn:hover span {
  padding-right: 35px;
}

#submitbtn:hover span:after {
  opacity: 1;
  right: 0;
}

#submitbtn:active {
  background-color: #0E314F;
  color: #ffffff;
  box-shadow: 0 5px #666;
}

#submitbtn:active span {
  transform: translateY(6px);
}

#body-wrap{
    display: inline-block;
}

#right-side-div {
    color: #ffffff;
    font-size: 50px;
    float: right;
    justify-content: center;
    /* width:50%; */
}

#right-side-div img {
    margin: auto;
}