body {
    /* font-family: Arial, sans-serif; margin: 20px; */
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-image: url("orderbg.jpg");
    background-attachment: scroll;
    margin-bottom: 0;
}

@font-face {
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#form-container {
    float:left;
    margin: auto;
    padding: 1vw;
    /* width: 75vw; */
    color: #ffffff;
}

.diagonal-div-bg {
    width: 700px;
    max-width: 99vw;
    height: 70px;
    background-color: #1879B0;
    transform: skewX(-20deg);
    margin-left: -38px;
    position: relative;
    overflow: hidden;
    border: 6px double #0E598F;
    margin-bottom: 2px;
}

.diagonal-div {
    /* width: 350px;
    height: 50px; */
    width: 450px;
    height: 30px;
    background-color: #3EE1E0;
    border: 6px solid #2DB5C2;
    /* transform: skewX(-20deg); */
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}

.content {
    transform: skewX(20deg);
    color: #595959;
    text-shadow: #000000 0.6px 0.6px 0.9px;
    padding-left: 20px;
    font-size: 30px;
}

.diagonal-div-bg input {
    transform: skewX(20deg);
    /* color: #545854; */
    /* text-shadow: #000000 0.6px 0.6px 0.9px; */
    width: 300px;
    margin-left: 30px;
    margin-top: 2px;
    /* padding-left: 300px; */
    /* font-size: 30px; */
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.diagonal-div-bg textarea {
    transform: skewX(20deg);
    /* color: #545854; */
    /* text-shadow: #000000 0.6px 0.6px 0.9px; */
    width: 300px;
    margin-left: 55px;
    margin-top: 2px;
    /* padding-left: 300px; */
    /* font-size: 30px; */
    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.diagonal-div-head-foot {
    /* width: 350px;
    height: 50px; */
    width: 450px;
    height: 60px;
    background-color: #3EE1E0;
    border: 6px solid #2DB5C2;
    /* transform: skewX(-20deg); */
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}

.content-head-foot {
    transform: skewX(20deg);
    color: #595959;
    text-shadow: #000000 0.6px 0.6px 0.9px;
    padding-left: 20px;
    font-size: 50px;
    padding-top: 3px;
}

.content-head-foot button {
    /* transform: skewX(20deg); */
    color: #595959;
    width: 300px;
    text-shadow: #000000 0.6px 0.6px 0.9px;
    padding-left: 20px;
    font-size: 50px;
    background-color: #D7E0F7;
    border: 3px solid #0C517D;

    font-family: 'pokemon_blackwhiteregular';
    src: url('pokemon-black-white-webfont.woff2') format('woff2'),
    url('pokemon-black-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content-head-foot button:hover {
    background-color: #e5ebfa;
}


#submitbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#submitbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -7px;
    right: -20px;
    transition: 0.5s;
}

#submitbtn:hover span {
    padding-right: 35px;
}

#submitbtn:hover span:after {
    opacity: 1;
    right: 0;
}

#submitbtn:active {
    background-color: #0E314F;
    color: #ffffff;
    box-shadow: 0 5px #666;
}

#submitbtn:active span {
    transform: translateY(6px);
}

#body-wrap{
    padding-top: 80px;
    display: inline-block;
}

#right-side-div {
    color: #ffffff;
    font-size: 50px;
    float: right;
    justify-content: center;
    /* width:50%; */
}

#right-side-div img {
    margin: auto;
}

#result {
    color: #ffffff;
    font-size: 50px;
}




























nav{
    left:0px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    background-color: #1879B0;
    font-family: 'pokemon_blackwhiteregular';
}

#logo{
    width: 80px;
    height: 85%;
    padding-left: 10px;
}

.nav-items{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    padding:5px;
    font-family: 'pokemon_blackwhiteregular';
}

.nav-items:hover{
    color: #000000;
    /* background-color: #b8abb3; */
}

.nav-items:not(:last-child) {
    border-right: 3px solid #0E598F;
}

.nav-items:not(:first-child) {
    border-left: 3px solid #0E598F;
}

#orderbutton {
    border-right: 0;
}

#allordersbutton {
    border-left: 0;
}

#webLinks{
    width: 40%;
    height: 100%;
}


#orderLinks{
    width: 25%;
    height: 100%;
}


#webLinks,#orderLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    width: 100%;
    height: 80px;
    font-size: 18px;
    position: relative;
    bottom: 0px;
    display: inline-block;
    justify-content: center;
}

#footerText {
    position: absolute;
    bottom: 0;
    font-family: Helvetica;
    display: block;
    text-align: center;
    right: 0px;
    left: 0px;
    top: 0px;
    font-family: 'pokemon_blackwhiteregular';
    font-size: 24px;
}

.header{
    font-size: 30px;
    font-weight: bold;
    padding-top: 120px;
    text-align: center;
}

a{
    text-decoration: none;
}

#overlay {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    height: 250px;
    background-color: #0E598F;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#hamburger{
    display: none;
}

.mobileNav{
    color: #eeeef4;
    border-bottom: 1px solid #eeeef4;
}

.mobileNav:hover{
    color: #565656;
}

@media (max-width: 1180px){
    #orderForm{
        margin: 0px 30px;
    }
}

@media (max-width: 820px) {

    #hero{
        margin-top: 90px;
        width: 100%;
        height: 50vh;
        background-position: 0px center;
        color: #eeeef4;
    }

    #heroText{
        font-size: 24px;
    }
    #innerHeroText {
        font-size: 18px;
    }

    #imageContainer{
        width: 40vh;
        height: 30vh;
    }

    .aboutDesItem{
        width: 45vw;
        padding: 10px;
    }

    #center{
        display: none;
    }

    .itemImg{
        height: 200px;
    }

    #innerContactContainer{
        margin-top: 150px;
        width: 75vw;
    }

    #sinnerContactContainer{
        width: 75vw;
        margin-top: 50px;
    }

    #fSecText, #sSecText{
        font-size: 16px;
    }

    #sSecText{
        margin-bottom: 100px;
    }

    #aboutHero{
        height: 120vh;
    }

    .section{
        height: 70vh;
    }


    #fHeader{
        font-size: 20px;
    }

    #webLinks, #orderLinks{
        display: none;
    }

    #hamburger{
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 10px;
    }

    #hamburger:hover{
        cursor: pointer;
    }

    #hamburger div {
        width: 100%;
        height: 4px;
        background-color: #333;
    }

    #orderImg{
        display: none;
    }

    #makeOrder{
        justify-content: center;
        align-items: center;
    }

}