@charset "UTF-8";
/* CSS Document */

/*

COLORS: 
	red/orange: #e23515
	grey: #b8abb3
	off-white: #f4f4f4
	white: #fff
	black: #000

*/

.body { 
	align-items: center;
	justify-content: center;
	color: #000;
	background-color: #f4f4f4;
}

/*
todo: 

#header {}

#image-container {}
#image-container img {}

#text-box {}

#footer {}

*/
