@charset "UTF-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}
/*

COLORS: 
	red/orange: #e23515
	grey: #b8abb3
	off-white: #f4f4f4
	white: #fff
	black: #000

*/

.body { 
	align-items: center;
	justify-content: center;
	color: #000;
	background-color: #d3ced9;
}

nav{
	width: 100%;
	height: 90px;
	background-color:#f4f4f4  ;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed; 
    top: 0; 
    z-index: 1; 
	border-bottom: 2px solid black;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

#logo{
	width: 6%;
	height: 85%;
	padding-left: 10px;
}

.nav-items{
	text-decoration: none;
	font-size: 20px;
	color: #e23515;
}

.nav-items:hover{
	color: #565656;
}

#webLinks{
	width: 40%;
	height: 100%;
}


#orderLinks{
	width: 25%;
	height: 100%;
}


#webLinks,#orderLinks{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#hero{
	width: 100%;
	height: 120vh;
	background-image: url('hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	color: #ffffff;
}

#heroText{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-60%);
	z-index: 10;
	font-size: 60px;
	width: 50%;
	padding-left: 10px;
}

#innerHeroText{
	font-size: 40px;
}

.section{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#imageContainer{
	width: 600px;
	height: 500px;
	padding-left: 50px;
}

#fSecText{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	height: 200px;
	font-size: 24px;
	color: #e23515;

}

#fHeader{
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 30px;
	
}


#secondSection{
	background-color: #e23515;
}

#sSecText{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	height: 200px;
	font-size: 24px;
	color: #f4f4f4 ;
	margin-bottom: 200px;

}

footer{
	width: 100%;
	height: 50px;
	font-size: 18px;
	position: relative;
}

#footerText {
    position: absolute;
    bottom: 0;
    right: 0;
}

#aboutHero{
	background-color:#eeeef4;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #e23515 ;
}

#aboutHeroText{
	width: 75%;
	height: 30vh;
	font-size: 18px;
	border: 2px solid #565656;
	border-radius: 10px; 
	margin-bottom: 20px;
}

.header{
	font-size: 30px;
	font-weight: bold;
	padding-top: 120px;
}

#aboutImg{
	padding: 50px 0px;
}
#innerAbout{
	padding: 10px;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#aboutHeroText, .header, #aboutImg, #innerAbout {
    animation: slideInFromRight 2.5s forwards;
}

#aboutDescription{
	width: 100%;
	height: 100vh;
	background-color: #e23515;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.aboutDesItem{
	width: 30%;
	padding: 50px;
	color: #eeeef4;
	font-size: 18px;
}

.itemImg{
	width: 100%;
	height: 350px;
}

#aboutEnd{
	width: 100%;
	height: 50vh;
	background-color: #eeeef4;
	display: flex;
	justify-content: center;
	align-items: center;
}

#endDiv{
	width: 50%;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #e23515;
}

#catalogButton{
	width: 200px;
	height: 5vh;
	background-color:#e23515;
	border-radius: 5px;
	color: #eeeef4;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.5s ease-in-out;
	margin-top: 20px;
}

#catalogButton:hover{
	background-color: #565656;
}

a{
	text-decoration: none;
}

/*
todo: 

#header {}

#image-container {}
#image-container img {}

#text-box {}

#footer {}

*/
